body{
    background-color: powderblue;
}
.btn3d {
    position: relative;
    border: 0;
    border-radius: 3px;
    margin: 15px 10px 0 0;
    transition: all .09s linear;
    box-shadow: 0 0 0 2px rgba(50, 200, 200, 0.15) inset, 6px 6px 0 0 #ccc, 6px 6px 0 1px rgba(0, 0, 0, 0.2), 6px 6px 3px 0px rgba(0, 0, 0, 0.3);
    outline: medium none;
}

h3 {
    font-style: italic;
    font-family: fantasy
}
hr{
    border: inset
}