<style>
    #deposit {
        float: left
    }

    #withdraw {
        float: right
    }
</style>
<div ng-controller="TransactionCtrl" align="center" class="container">
    <form>
        <div class="btn-group btn-group-md">
            <!--{{message}}-->
            <div>Balance:</div>
            <div>{{currentAmount}}</div>

            <div class="input-group">
                <input class="form-control" type="text" ng-model="amount" placeholder="Enter amount"><br/>

                <div>

                    <div>
                        <button id="deposit" class="btn btn-primary btn-xs" type="button" ng-click="deposit(amount)"
                                >Deposit
                        </button>

                        <button id="withdraw" class="btn btn-primary btn-xs" type="button" ng-click="withdraw(amount)"
                                >Withdraw
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>